@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');

body {
    text-align: center;
    font-family: "Amiri";
}

p {
    font-size: 24px;
    font-family: "Amiri";

}

/* .right{
    direction: rtl;
  } */